# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv/
venv/
ENV/

# TensorRT / ONNX Cache
.trt_cache/
# *.engine

# OS / IDE
.DS_Store
.vscode/

# Project specific
*.jpg
*.png
app.log

config.json
